* {
  padding: 0;
}

body {
  background-color: #788397;
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-list {
  min-width: 200px;
  font-size: 1.5rem;
}